.navbar{
    color: #fff !important;
    background-color:#121212;
}

.navbar .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
}
.navbar .nav-item .nav-link{
margin-right: 20px;
    font-size: 22px;
  
}
.navbar .icon{
    border:1px  solid #eee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
}

.navbar .icon:hover{
    background-color: #eee;
    color: #222 !important;
}

.navbar .icon:hover a,.navbar button:hover a{
    color: #222 !important;
}

.navbar button a{
    text-decoration: none;
    color: #eee;
}